In [1]:
#sum of element in list
A=[5,3,8,9,5,6,8]
B=sum(A)
print("Sum of Elements in A:",B)

Sum of Elements in A: 44

In [2]:
#Multiplication of elament in list
A=[5,3,8,9,5,6,8]
B=1
for i in A:
    B=B*i
print("Multiplication of Elements in A:",B)

Multiplication of Elements in A: 259200

In [3]:
#sort element in list
def last(n):
    return n[-1]

def incr(list):
    return sorted(list,key=last)

list=[(10,20),(30,40),(40,10),(24,34)]
print("after sorting=",incr(list))

after sorting= [(40, 10), (10, 20), (24, 34), (30, 40)]

In [4]:
#create tuple
A=("abhi","ram","omphoooooo",55,"55aa")
print(A)

('abhi', 'ram', 'omphoooooo', 55, '55aa')

In [6]:
#tuple with different data types
#Numeric Tupple
A=(2,5,6,8,1,9,2,71,2)
print(A)
#Float Tuple
B=(2.2,22.5,22.6,88.6,22.01,33.05)
print(B)
#Character Tuple
C=("A","B","C","D","E","F")
print(C)
#String Tuple
D=("Abhi","Ram","JAi")
print(D)
#Mixed Tuple
E=("Abhi",10,10.3,"10aaa","A")
print(E)

(2, 5, 6, 8, 1, 9, 2, 71, 2)
(2.2, 22.5, 22.6, 88.6, 22.01, 33.05)
('A', 'B', 'C', 'D', 'E', 'F')
('Abhi', 'Ram', 'JAi')
('Abhi', 10, 10.3, '10aaa', 'A')

In [7]:
# Check tuple is empty
A=()
if(len(A)==0):
    print("Tuple is empty")
else:
    print("Tuple Contain Elements")

Tuple is empty

In [8]:
 #set contain group of all types of value
A={2,3,5,6,8,9,6,6,7,44}
print(A)
B={"a","b","c","d","e","f","g","h"}
print(B)
C={"ram","JAi"}
print(C)
#Empty set                                
D={}
print(D)
#mix vallue set
Mix={1,"Abhi",5.5,"dd",(1,2,3,4)}
print(Mix)

{2, 3, 5, 6, 7, 8, 9, 44}
{'d', 'b', 'f', 'c', 'h', 'e', 'g', 'a'}
{'JAi', 'ram'}
{}
{1, 5.5, 'dd', (1, 2, 3, 4), 'Abhi'}

In [9]:
#iteration over set
A={1,2,"rbnb",(1,5,6,9),"Abhi"}
print(A)
A.add(55)
A.update([5,6,9,8])
print(A)
A.discard("rbmb")
print(A)
A.remove(2)
print(A)
B={99,88,66,55,5,"rbnb",2}
C=A.union(B)
print(C)

{1, 2, (1, 5, 6, 9), 'rbnb', 'Abhi'}
{1, 2, 5, 6, 8, 9, (1, 5, 6, 9), 55, 'rbnb', 'Abhi'}
{1, 2, 5, 6, 8, 9, (1, 5, 6, 9), 55, 'rbnb', 'Abhi'}
{1, 5, 6, 8, 9, (1, 5, 6, 9), 55, 'rbnb', 'Abhi'}
{1, 66, 99, 2, 5, 6, 8, 9, (1, 5, 6, 9), 55, 88, 'rbnb', 'Abhi'}

In [10]:
#Program to create set difference
A={1,32,5,6,2,4,586,85}
B={2,5,32,5,1,8,15,15,2,82,85}
print("Set A",A)
print("Set B",B)
C=A.difference(B)
print("Set difference between A and B",C)

Set A {32, 1, 2, 4, 5, 6, 586, 85}
Set B {32, 1, 2, 5, 8, 15, 82, 85}
Set difference between A and B {586, 4, 6}

In [11]:
#Sort dictionary by value
# Dictionary contain key and value
A={82:"Name",99:"ram",2:"dictionary",9:"Abhi"}
sorted_values = sorted(A.values()) # Sort the values
sorted_dict = {}

for i in sorted_values:
    for k in A.keys():
        if A[k] == i:
            sorted_dict[k] = A[k]

print(sorted_dict)

{9: 'Abhi', 82: 'Name', 2: 'dictionary', 99: 'ram'}

In [12]:
#Add key to dictionary
A={82:"Name",99:"ram",2:"dictionary",9:"Abhi"}
A[5]:"Rbnb college Shriampur"
print("Updated A:",A)
A[1]:2589631479630.11346
print("Updated after adding 1:",A)

Updated A: {82: 'Name', 99: 'ram', 2: 'dictionary', 9: 'Abhi'}
Updated after adding 1: {82: 'Name', 99: 'ram', 2: 'dictionary', 9: 'Abhi'}

In [13]:
#iteration over dictionary
d1={'name': 'Ravi', 'age': 23, 'marks': 56}
for k,v in d1.items():
    print (k,v)

name Ravi
age 23
marks 56